nav {
  width: 100%;
  height: 0.7rem;
  position: relative;
  font-size: 0.22rem;
  :before {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    border-bottom: 1px solid rgba(207, 207, 207, 0.95);
    color: rgba(207, 207, 207, 0.95);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(0.501);
    transform: scaleY(0.501);
  }
  ul {
    width: 100%;
    height: 100%;
    display: flex;
    li {
      flex: 1;
      box-sizing: border-box;
      line-height: .7rem;
      position: relative;
      display: block;
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      align-items: center;
      align-self: center;
      justify-content: center;
      max-width: 150px;
      height: 100%;
      white-space: nowrap;
      text-align: center;
      font-size: 13px;
      :before {

      }
    }
    li.active {
      color: #3598dc;
    }
  }
}
.list {
  width: 100%;
  a {
    display: block;
    padding: 20px 15px;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    img {
      width: 4rem;
    }
    p {
      color: #000;
      line-height: 30px;
      &:last-child {
        color: #e84c3d;
      }
    }
  }
  ul {
    display: none;
  }
  .active {
    display: block;
  }
}
